.linha-titulo {
    height: 50px;
}

.linha-titulo * {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.linha-titulo .button {
    height: 35px;
}

.box, #form-criar-comentario {
    max-width: 600px;
}

#form-criar-comentario > .button {
    display: block;
    margin: 5px 0;
}

.comentario {
    margin-bottom: 20px;
}

.topico {
    max-width: 600px;
}

.linha-votos {
    margin: 10px 0;
}

.descricao {
    text-align: justify;
}