.content {
    max-width: 960px;
    margin: 10px auto;
}

.navbar {
    justify-content:center;
}

.centralizar {
    margin: 0 auto;
}

.centralizar-texto {
    text-align: center;
}

.navbar-item {
    display: inline-block;
}